Repository nexmonyx/go-sdk: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

feat: implement comprehensive benchmarking framework (Task #3005)
  BENCHMARK_REFERENCE.md
  benchmarks_test.go
  docs/BENCHMARKING.md
  tests/integration/docker/cmd/main.go
Due: unit, integration

docs: update TASKS.md to mark Task #3005 as COMPLETED
  TASKS.md
Due: none

docs: update CHANGELOG with Tasks #3005, #3006, #3010, #3011, #3017 (Task #3008)
  CHANGELOG.md
Due: none

docs: update TASKS.md to mark Task #3008 as COMPLETED
  TASKS.md
Due: none

feat: implement memory profiling optimizations (Task #3006)
  docs/PERFORMANCE.md
  response.go
  tests/integration/docker/cmd/main.go
  websocket.go
Due: integration

docs: update TASKS.md to mark Task #3006 as COMPLETED
  TASKS.md
Due: none

feat: add comprehensive alert rule handler tests (Task #2469)
  alerts_rules_test.go
Due: unit

feat: add comprehensive API key management handler tests (Task #2467)
  api_keys_management_test.go
Due: unit

feat: add comprehensive handler tests for three core services
  metrics_handlers_test.go
  organizations_handlers_test.go
  servers_handlers_test.go
Due: unit

feat: add comprehensive probe alerts handler tests
  probe_alerts_handlers_test.go
Due: unit

docs: enhance TESTING.md with real-world examples and workflows (Task #3009)
  TESTING.md
  examples/testing/integration/mock_api_test.go
Due: none

feat: implement automated coverage reporting system (Task #3012)
  .github/workflows/coverage-audit.yml
  TESTING.md
  docs/COVERAGE_AUTOMATION.md
  scripts/generate-coverage-badge.sh
  scripts/track-coverage-history.sh
Due: none

feat: implement state transition testing framework - Phase 1 (Task #3015)
  state_transitions_incidents_test.go
Due: unit

feat: implement state transition testing - Phase 2 (Task #3015)
  state_transitions_probe_alerts_test.go
  state_transitions_servers_test.go
Due: unit

feat: implement state transition testing - Phase 3 subscription lifecycle (Task #3015)
  state_transitions_subscriptions_test.go
Due: unit

docs: add comprehensive state transition testing documentation (Task #3015)
  TESTING.md
Due: none

feat: add 8 organization-level health check management methods
  CHANGELOG.md
  health.go
  models.go
Due: none

fix: build mock API Docker image locally in integration tests workflow
  .github/workflows/integration-tests.yml
Due: none

feat: add comprehensive testing infrastructure and handler tests
  .claude/settings.local.json
  .coverage-badges/badge.md
  .coverage-badges/coverage-badge.svg
  alerts.go
  alerts_channels_test.go
  api_keys_enhanced_test.go
  coverage_reports/coverage_history.csv
  coverage_reports/coverage_trends.md
  docs/HANDLER_TESTING_QUICK_REFERENCE.md
  docs/HANDLER_TESTING_STANDARDS.md
  examples/testing/README.md
  examples/testing/performance/benchmarking_example_test.go
  examples/testing/performance/load_testing_example_test.go
  examples/testing/performance/profiling_example_test.go
  examples/testing/unit/basic_test.go
  gosec-results.json
  service_monitoring_handlers_test.go
  state_transitions_incidents_test.go
  state_transitions_servers_test.go
Due: unit

fix: resolve 15 G104 unhandled error issues in test files (Task #2629)
  gosec-results.json
  tests/integration/docker/cmd/main.go
  tests/integration/mock_api_server.go
Due: integration

fix(ci): resolve coverage failure with workspace cleanup and error handling
  .github/workflows/ci.yml
Due: none

fix(ci): resolve test timeout issues with context timeouts and timestamp fixes
  .github/workflows/ci.yml
  ml_test.go
  monitoring_agent_test.go
Due: unit

refactor(ci): consolidate workflows from 4 to 2 for better maintainability
  .github/workflows/ci.yml
  .github/workflows/coverage-audit.yml
  .github/workflows/integration-tests.yml
Due: none

ci: disable unit and integration tests temporarily to unblock developers
  .github/workflows/ci.yml
Due: none

fix: resolve all staticcheck warnings
  benchmarks_test.go
  examples/testing/performance/benchmarking_example_test.go
  examples/testing/performance/load_testing_example_test.go
  examples/testing/performance/profiling_example_test.go
  state_transitions_subscriptions_test.go
  tests/integration/docker/cmd/main.go
  tests/integration/helpers.go
Due: unit, integration

feat: add cross-controller health monitoring SDK methods
  health.go
  health_controller_test.go
Due: unit

feat: add health aggregation SDK methods
  health.go
  health_aggregation_test.go
  models.go
Due: unit

feat: add Controller API key type and Enable/Disable methods
  api_keys.go
  models.go
Due: none

fix(tests): correct JSON field names in probe test mock data
  probes_comprehensive_test.go
Due: unit

feat(sdk): add Organizations V2 Infrastructure methods
  organizations.go
Due: none

feat(sdk): add Alert System types and complete 24 alert methods
  alerts.go
  models.go
Due: none

feat(sdk): add Health Controller methods
  health.go
Due: none

feat(sdk): add Controller Management methods
  controllers.go
Due: none

test(sdk): add comprehensive Controller Management tests
  controllers_coverage_test.go
  controllers_test.go
Due: unit

feat: add AgentDiscovery service for dynamic ingestor URL discovery
  README.md
  agent_discovery.go
  agent_discovery_test.go
  client.go
Due: unit

feat: add SDK methods for alert-controller Phase 2 (v2.12.0)
  CHANGELOG.md
  alerts.go
  alerts_test.go
  client.go
  models.go
  servers.go
  servers_test.go
Due: unit

feat: add comprehensive test suite for organization-level health controller methods (Task #2627)
  README.md
  health_organization_test.go
Due: unit

test: comprehensive test coverage improvements and documentation (v2.12.1)
  COVERAGE_IMPROVEMENT_SUMMARY.md
  INTEGRATION_TESTS.md
  TESTING.md
  alerts_type_assertion_test.go
  background_jobs_type_assertion_test.go
  client_test.go
  docs/design/controller/alert-controller-api-first-refactoring.md
  docs/design/controller/alert-controller-implementation-plan.md
  docs/design/controller/alert-controller-integration-spec.md
  docs/design/controller/alert-controller-p1-architecture.md
  integration_test.go
  model_methods_coverage_test.go
  monitoring.go
  monitoring_agent_keys_coverage_test.go
  notifications_table_driven_test.go
  probes_service.go
  remaining_services_type_assertion_test.go
  servers_type_assertion_test.go
  service_monitoring_helpers_test.go
  temperature_power_enhanced_test.go
  test_helpers.go
  test_helpers_example_test.go
  utils_test.go
Due: unit

feat(access-rules): add AccessRules service with comprehensive CRUD operations
  access_rules.go
  access_rules_test.go
Due: unit

chore: update version constant to 2.13.0
  client.go
Due: none

Path conditions:
  unit: any of: **/*_test.go, but not: tests/integration/**, vendor, examples, tests/integration/fixtures, **/*.pb.go
  integration: any of: tests/integration/**, but not: vendor, examples, tests/integration/fixtures, **/*.pb.go
